.addBeer {
    margin: auto;
}

.button {
    margin: auto;
}


/* .addBeerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5;
    margin: auto;
    padding-top: 2%;
} */



