.jumboBrowsePage {
  background-repeat: no-repeat;
  background-size: cover !important;
  background: url("/assets/barTap2.jpg");
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumboTitle {
  font-family: "Titillium Web", sans-serif;
  font-size: 65px;
}

.banner {
  text-align: center;
  width: 100%;
  border-radius: 45px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.beerContainer {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Courier Prime", monospace; */
}

.browseBeer {
  /* padding-top: 20vh; */
}

/* Search Bar Styling */
.searchWidth {
  width: 100%;
}

/* Card Styling */
.cardHeight {
  height: 100%;
}

.cardColor {
  background-color: beige;
}

.subText {
  font-size: 13px;
}

/* Card image  */
.cardImage {
  width: 60px;
  height: 60px;
  border-style: double;
  border-radius: 35px;
  border-width: 5px;
  border-color: white;
}
