.beerContainer {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Courier Prime", monospace; */
}

.browseBeer {
  /* padding-top: 20vh; */
}

/* Search Bar Styling */
.searchWidth {
  width: 100%;
}

/* Card Styling */
.cardHeight {
  height: 100%;
}

.cardColor {
  background-color: beige;
}

.subText {
  font-size: 13px;
}

/* Card image  */
.cardImage {
  width: 60px;
  height: 60px;
  border-style: double;
  border-radius: 35px;
  border-width: 5px;
  border-color: white;
}
