.signInWrapper{
    padding-top: 15vh;
    width: 60vh;
    text-align: center;
    padding-bottom: 20vh; 
    border-radius: 50px;
}

.cardArea{
    background-color: #F5F5DC;
    border-radius: 25px;
    
}

.whiteSpace{
    border-radius: 25px;
}