.navbar {
  /* background-color: #ffbf00; */
  /* flex-direction: row; */
  /* text-align: right; */
  /* width: 100%; */
}

.innerNavbar {
  /* border-radius: 25px; */
  /* background-color: #FAE96F */
}

.nav-link {
  /* display: inline; */
}

/* icon color  */
.fas {
  color: lightskyblue;
}

.navFont {
  font-family: "Roboto Condensed", sans-serif;
}

/* Mobile Breakpoints */
/* Text is removed on XS and SM Screens */
@media only screen and (max-width: 768px) {
  .navTextMobile {
    display: none;
  }
  .navIconPadding {
    padding: 0 2%;
  }
}
